[2020-06-24 11:39] jimmo opened #6 "COVIDSafe doesn't check that location is enabled"
In order to do an LE scan, you need to have the fine (or coarse) location permission (which COVIDSafe has), however the global "Use Location" setting acts as a kind of system-wide toggle for these permissions. See (for example) [checkCallerHasCoarseLocation](https://cs.android.com/android/platform/superproject/+/master:packages/apps/Bluetooth/src/com/android/bluetooth/Utils.java;l=394;drc=master)

[2020-06-25 02:13] covidsafe-support commented on #6
Hi @jimmo - nice catch! we've created a ticket for this in our backlog.

I'm seeking more clarification for you on why `ACCESS_FINE_LOCATION` and not `ACCESS_COARSE_LOCATION` - I'll update this issue when I have some more information for you.

[2020-07-06 06:30] covidsafe-support commented on #6
Hi @jimmo - just a quick update for you. We believe we can change to `ACCESS_COARSE_LOCATION` so this should be included in a future update.

[2020-07-06 06:35] eleanor-em commented on #6
Hey crew -- worth thinking about whether you should allow people to use the app even without location, as long as they're warned about it not working.

For example, you could give users a prompt: "Warning: location services are currently disabled. The app will not be as effective. Would you like to turn them back on?"

This would actually be an advantage over the Google & Apple Notification Exposu

[2020-07-06 06:39] vteague commented on #6
I support @eleanor-em's suggestion.  I refuse to run Google Location Services unless I really need them, and would rather live with the occasional missed contact.  You can warn users without forcing them to enable location.

[2020-07-06 14:07] a1291762 opened #8 "Notification display bug"
I have the notification set to silent so it is less prominent.

![Screenshot_20200706-100457~3](https://user-images.githubusercontent.com/327162/86601460-b21e4b80-bfe4-11ea-856a-8fcb449d5479.png)

However, the 1.0.33 version has display oddness. For example, after I took that screen shot, the notification hid and the silent notification bar went blank.

![Screenshot_20200706-100514~2](https://user

[2020-07-06 22:14] a1291762 commented on #8
I guess this (new in 1.0.33) is the cause?

    <?xml version="1.0" encoding="utf-8"?>
    <FrameLayout
        xmlns:android="http://schemas.android.com/apk/res/android" android:layout_width="0dp"
        android:layout_height="0dp">
    </FrameLayout>

    val zeroHeightView = RemoteViews(context.packageName, R.layout.zero_height_view)
    val builder = NotificationCompat.Builder(context, channe

[2020-07-06 23:41] ndavison commented on #8
Hi @a1291762, thanks for logging this issue - we've created a backlog task to look into this. We'll keep you updated in this issue when we have any progress to report or if we need further information.

[2020-07-06 23:42] covidsafe-support commented on #8
Hi @a1291762, thanks for logging this issue - we've created a backlog task to look into this. We'll keep you updated in this issue when we have any progress to report or if we need further information.

[2020-07-07 00:45] benos5000 opened #9 "Apple/Google privacy preserving COVID-19 contact tracing."
Good morning. Can you please add support for the Apple/Google privacy preserving COVID-19 contact tracing. Thanks

https://www.apple.com/covid19/contacttracing

[2020-07-07 10:23] saalkom commented on #8
Possibly/probably an effect of the same underlying issue:

When active, COVIDSafe 1.0.33 breaks the display of other apps' notifications on the lockscreen in Samsung OneUI 1.0 under Android 9/Pie on my Galaxy S8+/SM-G955F.

Normally, a maximum of three notifications appear on the lockscreen in their usual form and any extra notifications appear below them minimized so they appear only as icons. Se

[2020-07-09 02:10] covidsafe-support commented on #9
Hi @benos5000, thanks for raising this. We are working with Apple and Google as they develop contact tracing technology that could enhance the COVIDSafe application and, when appropriate, we will communicate how the COVIDSafe application can leverage the technology.

[2020-07-09 14:21] keegan-lillo commented on #8
I'm also seeing this on a Pixel 4.

[2020-07-18 04:23] jacobgoodo commented on #6
Unfortunately, the app is unable to get any Bluetooth permissions if the location permission isn't enabled - the app would not function at all due to Android policy

[2020-07-18 07:15] throrfj commented on #8
Just to say the same issue manifests slightly differently on my Pixel 3a.
When the screen is locked:
- the bottom notification from other apps is obscured, irrespective of how many there are (eg. if there is only one notification, it's obscured; or the second of two, etc)
- The small icon shows at the bottom of the drawer when it's being pulled up, as saalkom described
- no CovidSafe notification

[2020-07-18 10:27] yaakov-h commented on #6
This is talking about whether or not location services is enabled, not whether or not the app is granted the `ACCESS_FINE_LOCATION`/`ACCESS_COARSE_LOCATION` permissions.

[2020-07-20 07:25] mum59 opened #10 "Ms Julie Norris"
The covid 19 app on my phone stops working battery optimisiat must be disabled.  I keep turning this function off. After a while it turns back on and disables the app.  I have uninstalled and reinstalled but still get the same issue.
My phone is OPPO A73
Model CPH1725
ColorOs version V3.2
Android 7.1.1

[2020-07-21 00:15] covidsafe-support commented on #10
Hi @mum59 - for troubleshooting and answers to your questions about using the COVIDSafe app, you can use our online help any time, email us, or call our helpline - support@covidsafe.gov.au or 1800 020 080.

[2020-07-23 00:54] #10 closed

[2020-07-23 00:54] #9 closed

[2020-07-23 07:39] mum59 commented on #10
I have followed the suggestion in you QA but still having the same issue

[2020-07-23 13:14] a1291762 commented on #8
Fixed in 1.0.39

[2020-07-23 13:14] #8 closed

[2020-07-23 13:21] a1291762 commented on #6
TIL I have not been using the app despite it being installed and running since day 1 :(

Bad system apps (Google Maps!) mean that I've had location off globally unless I was actually using it for navigation.

Covidsafe is happy if I turn it on... But what about android 10's "allow only while app is running"? Will that also defeat covidsafe?

Annoying that GPS and Bluetooth are tied together like t

[2020-07-23 14:03] a1291762 commented on #6
To answer my own question... As long as covidsafe targets api 28 then it looks to be safe. Once it targets api 29 it might need some changes.
https://developer.android.com/about/versions/10/privacy/changes#app-access-device-location

[2020-07-23 14:36] saalkom opened #13 "[Critical] Misleading activity status in notification"
When Bluetooth is enabled but location services are not, the main COVIDSafe screen reports that it is not active yet the notification reports that it supposedly is. Given that I had to manually open the app to discover this and then press the red "Location: Off" text to be prompted to grant the new/updated location permissions and then manually enable location services, in the worst-case scenario

[2020-07-24 01:20] a1291762 commented on #13
I was going to make this exact comment on the other issue (where this was first raised).

The app should be warning me if it fails to scan, not just when I open the app.

[2020-07-24 01:22] a1291762 commented on #6
I was just going to mention this but someone already filese a separate issue. The check/notification is not catching all cases.
https://github.com/AU-COVIDSafe/mobile-android/issues/13

[2020-07-24 01:57] covidsafe-support commented on #13
Hi @saalkom, thanks for logging this issue - we've created a backlog task to look into this. We'll keep you updated in this issue when we have any progress to report or if we need further information.

[2020-07-24 03:13] vteague commented on #13
@saalkom I actually think the*behaviour* of the app is correct/good, though I agree the UI/communication is awful.

I did the following experiment:
- Turn on phone's location and bluetooth, install COVIDSafe, scan for messages (with my computer).
This works, as expected.  My computer's scan can detect my phone's covidsafe msgs.

- Turn off phone's location, scan again.
As you observed, COVIDSafe's

[2020-07-24 04:35] jimmo opened #14 "v1.0.39 loses previously-granted location permission"
Branching off from https://github.com/AU-COVIDSafe/mobile-android/issues/6 which is mainly about the global "location enabled" issue.

@covidsafe-support  I just noticed that the 1.0.39 update is available manually updated to it on my phone.

Unfortunately I think this change is going to result in the app not working correctly for many people -- what should have happened is the app should continue

[2020-07-24 05:41] covidsafe-support commented on #6
Hi @jimmo, thanks again for reporting this issue. In the v1.0.39 release we adjusted the location permission to `ACCESS_COARSE_LOCATION` and we have added a check to the app to make sure that location is enabled. We are aware of the notification and UI issues described in https://github.com/AU-COVIDSafe/mobile-android/issues/13 which we will track in that issue.

[2020-07-24 05:41] #6 closed

[2020-07-24 06:06] saalkom opened #15 "Feature request: better explanatory text about location permissions"
It would be a great idea if an explanation for why location permissions are needed at all is clearly given somewhere at the top of the main screen near where the "COVIDSafe does not send pairing requests" message is, e.g.:

**_If_** I understand the reason correctly, the explanation could be along the lines of:

If Google location services (or other similar geolocation provider) must be or may ina

[2020-07-24 06:54] covidsafe-support commented on #14
Hi @jimmo, thanks for creating this issue - we've created a backlog task to look into this. We'll keep you updated in this issue when we have any progress to report or if we need further information.

[2020-07-27 01:47] jimmo commented on #10
@mum59 This is a deliberate feature in COVIDSafe (introduced in v1.0.33) that happens to interact poorly with ColorOs battery optimisation features on Oppo phones. Unfortunately unless you can find a way to permanently disable battery optimisation completely, there's nothing you can do to prevent this happening. (It's definitely not something that you've done wrong).

Might be worth looking at htt

[2020-07-27 02:14] mum59 commented on #10
thank you for your response, i will turn on thr app only when i go out

cheers
julie

________________________________
From: Jim Mussared <notifications@github.com>
Sent: Monday, 27 July 2020 11:47 AM
To: AU-COVIDSafe/mobile-android <mobile-android@noreply.github.com>
Cc: mum59 <julienorris7@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [AU-COVIDSafe/mobile-android] Ms Julie Norr

[2020-07-27 03:30] covidsafe-support commented on #15
Hi @saalkom - thanks for the suggestion. We've added this to our backlog to look in to further.

[2020-07-27 03:42] saalkom commented on #15
Thank you. I just want there to be public trust in the app so that the contact-tracing effort isn't hindered.

[2020-07-27 22:39] kurahaupo opened #16 "Run in Background permission keeps getting revoked"
I have an Oppo phone running their badged version of Android called "ColorOS", which is basically stock Android with some pretty apps.

The problem is that their power management is extremely aggressive, and the "run in background" permission is revoked within half an hour after every time I grant it.

Is there any setting I can change to improve this, or is there something you can negotiate with

[2020-07-28 10:11] kurahaupo commented on #16
I have observed this behaviour in versions:
* 1.0.33
* 1.0.39

[2020-07-28 12:53] jimmo opened #17 "Registration form doesn't handle focus correctly preventing continuing through the form"
(A friend reported this to me, I just tested it)

When you fill out the registration form, the "Continue" button (on the name/age/postcode screen) and the "Get Pin" button (on the phone number screen) are disabled until all the fields are entered.

However, the detection of whether the field has been entered isn't done until blur, so unless you realise this, it's impossible to click the button. On

[2020-07-28 13:16] jimmo opened #18 "Peripheral role doesn't work on some 5.1/6.0/7.0 devices."
I noticed at launch that my Nexus 5 (Android 6.0) running COVIDSafe was never visible in BLE scans, but forgot to investigate. at the time.

nRF Connect is also unable to function as an advertiser. The underlying reason is that the BLE chipset on this, and many other phones of this era, doesn't support this. Apps can detect this using [getBluetoothLeAdvertiser](https://developer.android.com/refere

[2020-07-29 00:49] covidsafe-support commented on #18
Hi @jimmo - thank you for bringing this to our attention. A backlog task has been created to look into this, and we will update this Github issue if we have progress to report or need any clarification.

[2020-07-29 00:59] covidsafe-support commented on #17
Hi @jimmo - thank you for bringing this to our attention. A backlog task has been created to look into this, and we will update this Github issue if we have progress to report or need any clarification.

[2020-07-29 02:56] covidsafe-support commented on #16
Hi @kurahaupo - thanks for making contact. For advice regarding disabling battery optimisation, please see the following help topic:

https://www.covidsafe.gov.au/help-topics.html#disable-battery-optimisation-android

If you require more assistance, please contact the COVIDSafe support area, by email using support@covidsafe.gov.au or by phone on 1800 020 080.

[2020-07-29 02:56] #16 closed

[2020-07-29 03:00] eleanor-em opened #19 "ColorOS battery optimisation problems"
As reported by both #10 and #16, the ColorOS variant of Android used for Oppo phones has very aggressive battery optimisation that repeatedly turns it back on for COVIDSafe, rendering the app unable to open because it checks that battery optimisation is disabled before starting up. Following the help topics does not work for users with this issue, because ColorOS does not behave as the help topic

[2020-07-29 03:21] kurahaupo opened #20 "Please allow issues to be reopened"
While this is a follow-up to #16, and thus mostly duplicate of #19, it is also a plea not to close and lock issues.
* Allow time for additional feedback before closing issues, regardless of any resolution.
* Keep "known problem" issues live, so that users can see that it's already in hand, and you _don't_ wind up with multiple issues reporting the same problem. This also allows you to delete inapp

[2020-08-04 02:47] mediaprophet opened #21 "complementary opportunities"
see: https://github.com/AU-COVIDSafe/mobile-ios/issues/14#issuecomment-668347785

issue topic illustrated with the hope others might have other (good?) ideas...

[2020-08-06 00:14] kurahaupo commented on #20
While this is mostly duplicate of #19, it is also a plea not to close and lock issues.
* Allow time for additional feedback before closing issues, regardless of any resolution.
* Keep "known problem" issues live, so that users can see that it's already in hand, and you _don't_ wind up with multiple issues reporting the same problem. This also allows you to delete inappropriate comments from a sing

[2020-08-07 08:13] jimmo opened #23 "COVIDSafe can't access JWT token on startup (crash)"
Affects COVIDSafe v1.0.49

This has happened to three friends of mine, and today I was finally able to get a stack trace. See stack traces below, but it fails in getEncrypterJWTToken while trying to do the AEAD decryption using the key from keystore and the encrypted JWT token from SharedPreferences.

I think this might be related to installing updates (i.e. something about the update causing the

[2020-08-07 08:47] gavintapp2 commented on #23
Issue created with stack trace on github https://github.com/AU-COVIDSafe/mobile-android/issues/23

[2020-08-09 01:33] anomaly256 commented on #20
Closing #16 out of hand without realizing it is actually a bug that needs addressing is a mistake.  Locking it though, preventing discourse on the subject and almost guaranteeing it will never be addressed is just hostile.  This is an important project.  Don't mismanage it this way please.
</my_own_2_cents>

[2020-08-09 02:39] chrisculnane commented on #23
@jimmo and myself have been looking into this further, and it looks to be a known issue with the AndroidKeyStore that is not gracefully handled by Tink, see: https://github.com/google/tink/issues/321

An update to Tink has been released to more gracefully handle the underlying issue with the AndroidKeyStore, see the release notes for 1.4.0: https://github.com/google/tink/releases/tag/v1.4.0. (COVI

[2020-08-09 03:29] thaidn commented on #23
Yeah this is a known issue in Tink versions earlier than 1.4.0. Upgrading to 1.4.0 is recommended. Lost keys can't be recovered though.

[2020-08-09 12:48] chrisculnane commented on #23
@thaidn after some further digging and discussions with @jimmo we're not sure just updating Tink will be sufficient.

We were wondering why the reports in https://issuetracker.google.com/issues/158234058 indicated that the update to AndroidX Security 1.0.0 RC 2 seemed to trigger more occurrences of the issue. That update adds support for MasterKey and deprecates the `create` method in EncryptedSha

[2020-08-09 13:06] wallarug commented on #15
Hey @saalkom ,

Do you know why the location permission is now mandated for the Android App as of version 1.0.48?

I just noticed the app updated and now wants Location turned on all the time to be 'happy'.  I have read through the other issues and note that the app still scans when location is off, is this correct?

[2020-08-09 14:16] jimmo commented on #15
hi @wallarug -- see this issue that I rasised https://github.com/AU-COVIDSafe/mobile-android/issues/14 which explains what's happening here.

In summary, the app always required location permission. You would had previously given the app "fine" location permission (likely implicitly during installation). However, as of v1.0.39 it now requires "coarse" location permission instead (but doesn't use y

[2020-08-09 14:42] wallarug commented on #15
Thanks @jimmo.  I understand what you are saying about all the permission stuff now.

So does the Location toggle have to be switched on for the app to function now as well or just granting the permission and ignoring the warnings suffice?

[2020-08-09 15:02] jimmo commented on #15
@wallarug The global "Location" enabled setting sort of acts like a global kill switch for the location permission in all apps.

This app does two things simultaneously - scan for and connect to other phones, and broadcast presence to and receive connections from other phones. Whenever a connection is made (in either direction), both phones exchange eachother's tracing IDs and store them.

However

[2020-08-09 22:31] jimmo commented on #23
It's unclear whether this explains why it appears to be related to app updates, but potentially what's happening is that every on TempID fetch (i.e. call to getEncrypterJTWToken) it has a chance to see the transient keystore error and therefore replace the key. If this happens while the app is backgrounded then it will crash without the user noticing. This means that auto-update can now happen as

[2020-08-10 04:36] covidsafe-support commented on #23
Hi @jimmo and @chrisculnane - thanks for creating this issue and the ensuing leads, we have been working on addressing this and appreciate the information you are able to provide.

[2020-08-10 06:40] kurahaupo commented on #15
In the subject of needing to improve explanations, I initially installed the app, registered, and then disabled its access to the internet, on the assumption that it was only (legitimately) needed for registration and infection notification.

I subsequently heard something about it needing to fetch new keys periodically, but no explanation of why that was necessary, both in terms of how they are u

[2020-09-23 13:15] crispyoz commented on #15
This is exactly why myself and most of my colleagues removed the app from our devices. When the minister states that the application is "totally secure", you know he doesn't know what he is talking about.   While the app does not record location data, the fact that location is required to be turned on in order for the app to function, makes your device location available to google and others to tr

[2020-09-24 00:25] kurahaupo commented on #15
@crispyoz agreed that the minister probably has no idea what they're talking about.

However what matters isn't the minister's opinions but the actual technical details. There _are_ valid reasons for needing the permissions, it's the insufficiency of technical explanation that's the issue.

I'd like to know more about:
1. (how) does rotating the device keys improve my security by making it harder

[2020-09-24 00:33] kurahaupo commented on #15
@saalkom closed, but with what resolution?

[2020-09-24 08:28] saalkom commented on #15
@kurahaupo You're right; the new explainer ("Android apps need location permissions turned on to access Bluetooth. COVIDSafe does not store or use location data.") amounts to a mere half-measure and I shouldn't have closed this issue.

[2020-09-24 08:35] saalkom commented on #15
There is also still no explanation at all for location permissions on the Play Store page.

[2020-10-13 09:24] SirLionfire opened #27 "No updates for 1.12"
Where are the updates for 1.12 (2020-09-25)?  Changes for the latest 2 iOS versions also seem to be missing.

[2020-10-23 02:15] jimmo commented on #14
Looks like this was re-introduced in v1.13 as the permission has changed from COARSE back to FINE. It's very easy to not notice that the notification is now saying "Allow Location permissions for Bluetooth to work", especially if the notification is not shown on the lock screen.

Maybe consider changing the icon to something that indicates that attention is required.

[2020-10-27 10:47] vteague commented on #15
The rich irony here is that this is one of very few ways in which COVIDSafe's privacy properties are clearly superior to those of the G/Apple API for Android users.  As @jimmo explained above, COVIDSafe can still function successfully even when the global location setting is turned off - it can advertise, and exchange in both directions, as long as it doesn't meet another paranoid who (like me) al

[2020-10-27 11:19] kurahaupo commented on #15
That would be a gross misrepresentation of how Android permissions work.

Your phone's operating system always knows its location, unless you turn off the sensors. The permissions have nothing to do with that. What the permissions do determine is whether or not each app can obtain that information from the OS.

Some apps provided by Google do indeed store your location data on Google's services, b

[2020-10-27 11:32] vteague commented on #15
My remark was quite clearly about the global location setting on Android, not about the specific location permission for the COVIDSafe app.

If I you think I have mischaracterised the effect of switching on Android's global location setting, given that I otherwise always have it turned off, and do not think that turning it on informs Google of my location, while leaving it off generally gives Goog

[2020-10-30 02:19] kurahaupo commented on #15
@vteague OK, that wasn't fair of me, sorry. I'm a bit trigger-happy about people making sensationalist claims about Android, and I didn't read what you'd said carefully enough.

That said, Google probably records your location information, but that's not _just_ because the location sensor is turned on.

It's my understanding that Google-supplied apps don't get a magic bypass on the permissions; ra

[2020-10-30 03:22] kurahaupo commented on #15
@saalkom I note that a recent update to `AU-CovidSAFE ` resulted a one-off pop-up explaining why location permission is required; in `app/src/main/res/values/strings.xml` is:
[code]

Does that mean this issue can be closed?

[2020-10-30 03:23] kurahaupo commented on #15
PS: why is this Github project called `AU-CovidSAFE` when
* `COVIDSafe` appears in the source code 765 times,
* `covidsafe` appears 665 times,
* `CovidSafe` appears thrice,
* `COVIDsafe` appears twice,
* `COVIdSafe` appears twice (yes, really), and
* `CovidSAFE` appears **zero** times.

[2020-10-30 04:02] saalkom commented on #15
That's not really much different from the message I had previously noted in my comment above (https://github.com/AU-COVIDSafe/mobile-android/issues/15#issuecomment-698198223), although at least there's more of a chance people will read it now that it's displayed in a popup.

However, all the discussion here has got me thinking whether the explanatory text actually just needs to specify that COVIDS

[2020-10-30 04:11] nopresnik commented on #15
You are confusing the project name with the Github organisation name.  It appears [COVIDSafe](https://github.com/covidsafe) has already been taken so AU-COVIDSafe is an appropriate alternative. :)

[2020-10-30 07:00] vteague commented on #15
@kurahaupo Fair point - I hadn't adequately considered the case in which I turn on the global location setting but assiduously refuse location permission to any app that might use location services.  You're probably right about that case.  Pax.

[2020-10-30 19:15] kurahaupo commented on #15
@saalkom

Sadly it would appear that I was citing my own earlier typo, so I withdraw the question.

[2020-10-30 19:23] kurahaupo commented on #15
...

I'm not the slightest bit confused on that point, but I may have been confused on the correct capitalisation.

Don't you think the proliferation of upper- & lower-case versions is odd?

[2020-11-27 01:44] covidsafe-team commented on #14
Hi @jimmo  - thank you we'll add that to our backlog for an upcoming release.

[2020-11-27 02:00] covidsafe-team commented on #13
Hi @saalkom - thanks for your patience. This was fixed in release 1.0.48

[2020-11-27 02:00] #13 closed

[2020-11-27 02:28] covidsafe-team commented on #23
Hi @jimmo  and @chrisculnane - thanks for your patience. This was fixed in release 1.0.54

[2020-11-27 02:28] #23 closed

[2020-12-02 20:47] jimmo opened #30 "Herald integration with COVIDSafe"
Summary: The Herald migration should be suspended and I re-iterate the recommendation that COVIDSafe moves to the Apple/Google Exposure Notification Framework as soon as possible.

Firstly it's important to highlight that this is an incredibly inconsiderate and ineffective way of "engaging with the tech community". Despite a huge amount of volunteer work over the past several months from the commu

[2020-12-02 21:44] HendX commented on #30
This is an amazingly accurate and detailed summary of where things stand with COVIDSafe compared to ENF.

Thank you @jimmo.

The simple fact is that the calls to engage with community are disingenuous, because the app has not, does not, and will not ever work in its current form.

The so-called experts you wish to engage with have spoken. The current path of switching to Herald is a fool’s errand

[2020-12-02 21:47] eleanor-em commented on #30
I am a published academic in the field of cryptography, and I could not echo this statement more:

"It is extremely clear that the proposed code has not been audited for security issues (despite claims in the AFR article and DTA blog post) and the serious issue I reported yesterday to your security contact should further reinforce that. COVIDSafe should absolutely not be updated to use Herald unti

[2020-12-03 02:21] Australis86 commented on #30
As a developer I echo the comments above. No reasoning has been provided for the use of Herald over the more widely-accepted and supported Apple/Google ENF. The use of Herald, especially the way it has been implemented, simply increases the code development and maintenance workload for no obvious real-world gains.

The highlighted lack of vulnerability disclosure procedure and inadequate auditing

[2020-12-03 03:55] HendX commented on #30
Me:

@jimmo:

NSW Health:

<img width="579" alt="image" src="https://user-images.githubusercontent.com/525190/100961724-dcb00880-3572-11eb-9923-883cf40b74ad.png">

This is a perfect demonstration of how COVIDSafe is failing. The NSW contact tracers can't possibly detect and contact everybody on these transit services, but a functioning COVIDSafe app using Exposure Notifications could do so reliabl

[2020-12-06 13:12] jimmo opened #31 "Distance estimation (and Herald changes)"
COVIDSafe makes a strong claim to be able to detect with a "1.5 metre threshold" and although it doesn't currently use Herald, the DTA claims that Herald "...provides contact tracing apps with regular and accurate proximity information that helps make them highly effective, as the updated Bluetooth Encounter Logging results below demonstrate."

I can not see any way in which the proposed changes i

[2020-12-06 21:26] jimmo commented on #31
You can see the Herald team's reply where they mark this as "wontfix". https://github.com/vmware/herald/issues/21#issuecomment-739537868

This is extremely disappointing.

[2020-12-06 23:20] HendX commented on #31
@adamfowleruk I note the downvote above and your post linked above. For the benefit of the reader, do you care to elaborate here on which parts of @jimmo's post you disagree with?

[2020-12-07 06:43] covidsafe-team commented on #30
Thank you @jimmo and others for your feedback on COVIDSafe and Herald. Since COVIDSafe’s launch, we have fixed several issues that have been raised. We appreciate your ongoing advice and the time you have given to improving COVIDSafe.

To engage with the tech community as early as possible we have provided the pre-release code. The code we have released is sufficient to allow testing and review. W

[2020-12-07 07:24] ghuntley commented on #30
@covidsafe-team

Are these the same experts that missed an ELEMENTARY bounds check in the Bluetooth payload that resulted in the app getting dragged on CH9 and skynews?

https://youtu.be/7UdVHB1ohNo

[2020-12-07 07:31] chrisculnane commented on #30
@covidsafe-team if your "cyber security experts" didn't spot the use of a non-cryptographically secure random number generator  you might want to think about getting some new cyber security experts.

See https://github.com/vmware/herald-for-android/issues/90, also present in COVIDSafe: https://github.com/AU-COVIDSafe/mobile-android/blob/herald/app/src/main/java/au/gov/health/covidsafe/sensor/datat

[2020-12-07 07:37] Australis86 commented on #30
Is this preventing the use of the Apple/Google ENF?

[2020-12-07 07:38] HendX commented on #30
Thank you for a detailed reply, but once again you're not actually substantively addressing the core valid concerns of the app, some of which are:

* The app is unreliable mainly when two locked iPhones are near each other, which is a significant issue.
* Location services should not be used in the way you're using them
* Bluetooth keep-alive should not be used in the way you're using them.

As @j

[2020-12-07 07:52] egadsthefuzz commented on #30
Ionize and Delv did security work on covidsafe I believe https://www.news.com.au/technology/online/5m-covidsafe-app-has-only-identified-14-coronavirus-cases/news-story/f93d3e6aa2750a737e040062ccf1e953

[2020-12-07 08:01] HendX commented on #30
Also, you refuse to acknowledge that this is not a requirement of ENF.

In Ireland, manual tracers are silently notified so they can subsequently conduct a phone interview.

Quite frankly, continuing to claim this is simply being untruthful.

[2020-12-07 08:39] aktfire747 commented on #30
[quote]Note that COVIDSafe operates under the Privacy Amendment (Public Health Contact Information) Act 2020, which prohibits COVIDSafe data from being sent overseas and rules out any possibility of international interoperability, regardless of the technical approach used.[/quote]

I seem to remember that the data was being stored on an Amazon Web Server overseas somewhere, (or is that my faulty m

[2020-12-07 08:53] yaakov-h commented on #30
No. IANAL, but to my understanding of both EN and the Act, EN does not breach the Act.

[2020-12-07 08:55] yaakov-h commented on #30
@aktfire747 I believe they have stated that they are using Australian datacenters/AZs from AWS.

[2020-12-07 09:28] aktfire747 commented on #30
Ok. So faulty memory then. :)

[2020-12-07 09:28] HendX commented on #30
One more thing: this is extremely disrespectful and patronising towards those of us **technical experts** you are simply ignoring.

This update will not work. We are trying to save you the embarrassment and also seek a good outcome for the the general public, of which we a part.

We are not Internet randos just trolling because we are bored, we too are at the top of our field.

I personally have a

[2020-12-07 14:41] joepie91 commented on #30
I'll be blunt here: anyone who responds to security concerns with "well, we've had someone audit it", doesn't understand a thing about audits or what they are for, and is grossly negligent.

The purpose of a security audit, *any* security audit, is as an *additional* measure to *opportunistically* catch more missed issues. Something being audited does __not__ mean that it is 'proven secure'. Somet

[2020-12-07 14:50] AshleyPinner commented on #30
To chime in on the audit front, and audit covers a point-in-time of the codebase as it was. This means that if any code is changed post audit, it is no longer audited code.

This is somewhat akin to getting a certificate of seaworthiness, poking holes in the boat, and claiming, as it's sinking, that it has a certificate of seaworthiness. It's not going to help you and no longer is relevant.

You n

[2020-12-07 23:51] vteague commented on #30
[code]

Even if the Act was unchangeable, that would still be complete nonsense. GAEN International interoperability works because different countries still run the same underlying protocol with the same data, with no need for decryption.  For example, there's a broad [EU GAEN interoperability project](https://github.com/eu-federation-gateway-service)
in which different EU countries mirror one ano

[2020-12-08 00:18] yaakov-h commented on #30
To elaborate on my previous comment regarding the @covidsafe-team's statement here, and to comment on @vteague's responsa above:

I am not a lawyer, but since the law was clearly designed with OpenTrace in mind and not Exposure Notifications, I don't think EN TEKs actually fall afoul of the current legislation. The Privacy Act only involves what it terms "COVID app data" which is defined as:

  (a

[2020-12-09 04:12] jimmo opened #32 "Herald halves connection efficiency"
In "COVIDSafe Classic", as inherited from TraceTogether, for any given connection a TempID exchange happened in both directions.

With the Herald integration, this is no longer the case as TempIDs are only sent via a GATT read operation (i.e. from the server to the client, i.e. peripheral to central, which Herald confusingly calls transmitter and receiver).

There are some exceptions to this:
 - D

[2020-12-09 04:14] kurahaupo commented on #31
@jimmo can you update this bug's description to link directly to the claims you're taking issue with? Care is needed when talking about "1.5 metre detection", as the main way that Herald improves the situation is by providing much better estimates of _duration_, by prompt reporting of samples rather than massaging to some standardized interval; it leaves calibration of _distance_ estimates to the

[2020-12-09 04:31] jamver commented on #31
@HendX:

@adamfowleruk / @vmware marked @jimmo's linked issue as wontfix and closed it 2 days ago https://github.com/vmware/herald/issues/21#event-4076837026, with the closing statement https://github.com/vmware/herald/issues/21#issuecomment-739537868:

[2020-12-09 04:36] HendX commented on #31
Thanks @jamver - I did read that reply, but @jimmo's post contained many other points related to Herald, other than just about calculating distance that haven't otherwise been addressed.

[2020-12-09 06:24] kurahaupo commented on #32
Isn't the use of the overflow area about providing a secondary ID for devices that rotate their BT MAC addresses ludicrously fast, so that it doesn't have to re-fetch device info from these "new" devices several times a minute? So checking for an exact match is the appropriate method in that case.

Or are we talking about something else?

[2020-12-09 08:19] jimmo commented on #32
@kurahaupo Nope different thing. You're describing the pseudo address included in the manufacture data in the advertising payload by Android Herald.

On iOS, GATT services from apps running in the background are not listed in the advertising payload in the usual "(in)complete service uuid" field, rather there's a proprietary iOS feature where they put a bitfield into the manufacturer data instead.

[2020-12-09 11:04] jimmo commented on #31
@kurahaupo

The 1.5 metre claim has been repeated in so many places, including official communication.

https://www.health.gov.au/sites/default/files/documents/2020/04/covidsafe-app-faqs-coronavirus-contact-app-covidsafe-faqs.pdf

Note this does say "approximately" but not all communication says this, and certainly not the media coverage, and I don't think "approximate" really captures the story a

[2020-12-09 12:15] jimmo commented on #30
@covidsafe-team @covidsafe-support

To re-iterate -- this is not "engaging with the tech community".

I don't believe that it is sufficient. I would have recommended that at a minimum that you would have provided a technical one-page summary of the changes and rationale. Additionally, a test server would be extremely useful.

Even better would be the actual server code. It is very hard to reason a

[2020-12-14 10:59] jimmo opened #33 "Duplicate GATT service registrations (Herald)"
Noticed this while running a built with the `herald` branch -- two different issues with the advertising start/stop mechanism that runs every 15 minutes that I think have the same root cause. cc @alwentiu who noticed the same thing.

a) Sometimes the app will startup in a way where every time the timer goes off, it appears that it never clears the previous service registrations. This is easy to se

[2020-12-14 11:29] jimmo opened #34 "Herald Transmitter/Receiver written in Kotlin"
https://vmware.github.io/herald/bluetooth/os says:

[code]

I've seen this same thing quoted in a number of places, but it appears that sadly that nobody has done the disassembly to get to the bottom of these claims.

Either way, I notice that much of the Herald code is copied as-is, but for some reason ConcreteBLETransmitter.java and ConcreteBLEReceiver.java were re-written in Kotlin for COVIDSaf

[2020-12-14 12:01] HendX commented on #33
It’s issues like these that should have been ringing alarm bells since March/April when this project began.

Both Apple and Google are hugely influential in defining and advancing Bluetooth standards. They know how to build reliable systems - they have huge teams and unparalleled expertise and resources to build such systems.

Additionally, Exposure Notifications are being used by hundreds of mill

[2020-12-14 12:46] HendX commented on #33
Why the downvote? The lack of broad adoption or testing of COVIDSafe Herald is a real risk, especially given its past of being rejected in the UK even after a lengthy trial.

Additionally, @jimmo has previously pointed out that copying in a third party library file-by-file rather than referencing it as a dependency is also a risk.

This is a good example, since as #34 points out, the source trees

[2020-12-14 14:44] jimmo commented on #33
@covidsafe-support @covidsafe-team Please see https://github.com/vmware/herald-for-android/issues/107#issuecomment-744486501 -- I think this is a bug in Herald too.

[2020-12-14 23:38] kodekoala247 commented on #33
Looks like tester error. nRF Connect shows history of detected devices. Duplicate services linked to different addresses on same physical device. Is that even possible?

[2020-12-15 01:28] covidsafe-team commented on #21
Thanks @mediaprophet . As noted here COVIDSafe will continue to focus on Bluetooth tracing. QR Code integration is not currently within the scope of COVIDSafe.

[2020-12-15 01:28] #21 closed

[2020-12-15 01:28] covidsafe-team commented on #27
Hi @SirLionfire - sorry about that, we'll make sure we add all future releases

[2020-12-15 01:28] #27 closed

[2020-12-15 01:32] covidsafe-team commented on #20
Hi @kurahaupo thanks for your feedback we've taken it onboard.

[2020-12-15 01:32] #20 closed

[2020-12-15 04:06] alwentiu commented on #33
@jimmo  and I confirmed this bug independently, so it's unlikely a tester error. I have tested it on several devices running various versions of Android (8, 9, 10, and 11); all exhibit the same behaviour. Turning bluetooth on/off results in duplicate GATT services being created. The advertisements over multiple RPAs were observed not just using nRF connect, but also using Bluez bluetooth scanner (

[2020-12-15 04:23] jimmo commented on #33
@kodekoala247 Please see
https://github.com/vmware/herald-for-android/issues/107#issuecomment-745042378

Yes

[2020-12-15 06:16] covidsafe-team commented on #33
Thanks @jimmo and @alwentiu - we are taking a close look at this one. Thanks for providing additional data @alwentiu .

[2020-12-15 07:14] mediaprophet commented on #21
Given bluetooth beacon work / research since 2001, i think you'll come-up
against spam protection related protections linked to the policies applied
to the bluetooth radio.

unless you want global ID based solutions, in which case it would be
cheaper to goto visa / mastercard.

but you're the experts paid the 'big bucks'.  i'm sure you're honest about
all of this...

cheers.

tim.

On Tue, 15 Dec

[2020-12-15 10:07] kodekoala247 commented on #33
Confirmed tester error. Tools show history of adverts. Try connect to duplicates. Only one advert works for connect/read/write. Look at app logs on central, no duplicates. One physical device multiple working addresses? Doubtful.

[2020-12-15 21:11] kodekoala247 commented on #32
Test on 2 android 2 ios old. 62000 rssi/12hr = 29 rssi/phone/min. Battery 1-2%/hr. Is this bad?

[2020-12-16 11:35] kodekoala247 commented on #30
Helpful tech data?

Test on 2 android 2 ios old. 62000 rssi/12hr = 29 rssi/phone/min. Battery 1.1-2.4%/hr. Fast/slow cmp others? More rssi = good?

Test herald demo app same 4. 130000 rssi/12hr = 60 rssi/phone/min. Battery 0.9-2.1%/hr. Looks fast.

Used herald test proc. Location enabled on android ios.

[2020-12-16 11:51] Australis86 commented on #30
Isn't RSSI just the received signal strength indication? Can you explain how that corresponds to units per time? I don't understand your comparison. For RSSI, wouldn't a more meaningful comparison be the average RSSI over the same period of time in the same environment?

[2020-12-16 12:57] kodekoala247 commented on #30
Sampling rate. Assume fast + many = good duration + distance = good risk calc = good tracer?
29/min = 1 sample/2sec. Duration +/-2sec looks precise.
60/min = 1 sample/1sec. Faster sampling = more precise.
Other tech faster?

[2020-12-16 13:33] yaakov-h commented on #30
I fail to see how that is relevant to anything else being discussed here, but just for comparison, ENF does it about 4x a second and do so with no growth in work for a broadcaster and a linear growth in work for an observer, rather than COVIDSafe/Herald’s exponential growth in work as more devices are involved.

[2020-12-16 19:46] kodekoala247 commented on #30
Obj eval.
4/sec from "The broadcasting interval is subject to change, but is currently recommended to be 200-270 milliseconds"? Android balanced mode = 250ms.
Looks like 1 sample/5min = duration +/-5min from "The scanning strategy that works best is opportunistic (leveraging existing wakes and scan windows) and with minimum periodic sampling every 5 minutes."?

https://www.blog.google/documents/70

[2020-12-16 20:01] HendX commented on #30
@kodekoala247 I'm struggling to follow the exact points being made by your posts in this thread in relation to the original issue.

It would be helpful for all readers if you explain what you're trying to say instead of mentioning a bunch of keywords in single word sentences.

Or alternatively, could you quote exactly what you're replying to here?

[2020-12-17 01:45] kodekoala247 commented on #30
Reply to
- issues such as battery life
- hard to interpret any of the claims
- advertising broadcast based system is clearly technically superior
- No reasoning has been provided for the use of Herald over the more widely-accepted and supported Apple/Google ENF
- This update will not work
- correct technical information with which to make informed decisions
- ENF does it about 4x a second

Help by

[2020-12-17 02:04] Australis86 commented on #30
@kodekoala247 Please stop using RSSI as a rate. It is not and the way you are using it for a comparison is just wrong.

From the ENF spec (emphasis added):

- Scan results shall be timestamped and RSSI-captured per broadcast.
- **The scanning interval and window shall have sufficient coverage to discover nearby Exposure Notification Service advertisements within 5 minutes**.
- The scanning strateg

[2020-12-17 02:13] HendX commented on #30
We don't know the testing methodology DTA used to make their claim.

The claim on https://github.com/vmware/herald-for-ios is "100% detection". That is completely absurd.

Also, to even get close to that, it assumes that Herald will actually pass App Review.

We want to know results in real-world scenarios, not a "2 android 2 iPhone" scenario. There are other possibilities. Obviously there are inf

[2020-12-17 03:15] jimmo opened #35 "FYI: Insecure random regression in upstream Herald"
I have no idea what COVIDSafe's plans are for integrating upstream Herald changes, but please be aware that a recent change has made it possible again to re-identify devices by their PseudoDeviceAddress, similar to the issue I raised on 2nd December.

Please do not merge upstream Herald code into COVIDSafe until this is fixed.

See https://github.com/vmware/herald-for-android/issues/110

[2020-12-17 06:05] yaakov-h commented on #30
@kodekoala247 The "rate" that you're trying to measure is fairly useless, and in theory, the higher it is the worse an app like COVIDSafe (which uses handshakes rather than broadcasts) will perform in crowding scenarios.

Epidemiologically the threshold for a close contact is 15 minutes of very near proximity, and the DTA's testing (for some reason) assume one handshake per device pair per minute.

[2020-12-17 08:59] kodekoala247 commented on #30
Sampling rate irrelevant in measurement tech for time + distance?
Repeat test to check claims + share results = norm science review.
Results diff from pop opinion. Checked again. Share data to check more.

Reply to
- Claming ENF is slower from the spec is not a fair comparison. Have you checked what other apps that use ENF have selected as a scan interval?

Checked. Interval = 300sec. Diff in othe

[2020-12-17 09:11] HendX commented on #30
We're trying to achieve a good outcome for the Australian public for an app thus far has not delivered, primarily because of well known Bluetooth issues and a lack of testing by DTA.

ENF overcomes these problems. Herald does not, because it is fundamentally no different to the current COVIDSafe.

Additionally, we're trying to establish how some of the claimed results have been achieved, especiall

[2020-12-17 09:12] Australis86 commented on #30
Sorry @kodekoala247, but your response is barely coherent. I'm guessing English isn't your primary language, but perhaps you could write in your native language and use Google Translate?

Also, I hate to break it to you, but your "text is not strong" and nobody is in fear of you. If you have sound reasoning and evidence to support the use of Herald, we're all ears.

[2020-12-17 09:29] HendX commented on #30
As has already been stated, this is the maximum, so obviously this constant will appear in code somewhere.

It is also opportunistic, which means it will scan more often than this most of the time.

Now, instead of trying to confuse us into submission, can you please try and state your ultimate point in a cohesive sentence?

Are you saying the issues raised about Herald are invalid and that you th

[2020-12-17 11:12] kodekoala247 commented on #30
- achieve a good outcome for the Australian public

Same. Love australia.

- well known Bluetooth issues and a lack of testing

Tested to check. Shared results. Similar?

- how some of the claimed results have been achieved, especially on iOS

Test included ios. Few but relevant?

- This isn't the Da Vinci Code. We're not here trying to solve your cryptic half-sentences. response is barely coheren

[2020-12-17 11:47] HendX commented on #30
Thank you for following up. Apologies for any offence that may have been caused in relation to understanding your posts. My frustration in general about Herald is there are bold claims made but key information missing.

I'm not disputing the results of scenarios that are posted, which your tests seem to replicate.

For instance, I've just raised vmware/herald-for-ios#81 in relation to the testing

[2020-12-17 11:51] Australis86 commented on #30
@kodekoala247 Thankyou for taking the time to explain and I apologise if I was harsh. This is off-topic to the issue at hand, but have you looked at speech-to-text options for your computer? That might make writing comments and reporting data a lot easier.

[2020-12-18 04:38] alwentiu commented on #33
@jimmo  @covidsafe-team  See the pull request related to this issue.
Credit to @jimmo  who has previously mentioned the potential root causes for this issue. The pull request is meant only to demonstrate Jim's diagnosis. More tests will be needed to confirm the fix.

[2020-12-18 23:54] covidsafe-team commented on #30
Further to our detailed post above, by way of update:
1. Apple and Google have approved the Herald update for release according to their App Guidelines.
2. Battery usage summary results have been previously provided and indicate the results of Herald testing in real world conditions.
3. Testing results of battery and Bluetooth performance have been previously provided.
Further information about th

[2020-12-18 23:54] #30 closed

[2020-12-18 23:58] covidsafe-team commented on #32
With today's update to the app, @jimmo you are correct and the Android relay is not currently enabled. We are still working through the best way to enable this in COVIDSafe.

[2020-12-18 23:59] covidsafe-team commented on #33
Thank you @jimmo and @alwentiu for your assistance with this issue. We have implemented a fix into today's release of COVIDSafe. You can find the release notes here: https://www.dta.gov.au/news/covidsafe-uses-herald-protocol-improve-app-performance

[2020-12-19 00:03] covidsafe-team commented on #35
Thank you @jimmo for this suggestion and all your advice on this issue. We have incorporated a fix based on the advice you and Alwen provided to us. We intend to integrate the libraries in future and will ensure that our current fix is maintained.

[2020-12-19 00:03] #35 closed

[2020-12-19 00:08] HendX commented on #30
This is disappointing.

You have not adequately addressed many of the real concerns outlined here.

This is a great disservice to all Australians.

[2020-12-19 00:17] egadsthefuzz commented on #30
It's unfortunate that you haven't provided any of your updated code before releasing given there were still some serious bugs that you had outstanding. I believe another community review and further discussion would have helped here.
This community engagement from the project is proving very frustrating.

[2020-12-19 04:33] vteague opened #37 "Very frequent re-initialisation of SecureRandom in PseudoDeviceAddress"
I think you might find that the constant re-initialisation of SecureRandom in PseudoDeviceAddress eventually runs out of entropy and blocks, especially if the device is left alone for a few hours.

Specifically, it looks to me as if rather than getting the next few bytes from an already-seeded SecureRandom, which is what I'd expect this function to do:

[code]

it actually generates a new SecureRa

[2020-12-19 05:24] jimmo commented on #37
Yes, exactly what @vteague said.

The comments in the code that has been copied from Herald's RandomSource.java explain this.

Use getRandomSingletonLong() instead. It's not clear why any other code needed to be copied from Herald.

Or better yet, see the extensive analysis and suggestions at https://github.com/vmware/herald-for-android/issues/110

[2020-12-19 12:08] yaakov-h commented on #33
@covidsafe-team This is not fixed in the Google Play production release of the app (v2.0). I can still reproduce the duplicate services issue on my test phone - Samsung A20 SM-A205YN.

[2020-12-19 13:03] jimmo commented on #33
@covidsafe-team I also continue to see this on my Pixel 2. I'm running a build from the `master` branch, but with no modifications other than to change `advertRefreshTimeInterval` to two minutes.

I still see both the multiple-RPA issue, and the duplicate service registrations (both with no user interaction, and also when powering off/on the Bluetooth adaptor).

You're welcome, but unfortunately y

[2020-12-21 01:56] jimmo commented on #33
I applied https://github.com/AU-COVIDSafe/mobile-android/pull/39 and it still doesn't fix the issue on the Pixel 2.

[2020-12-22 11:33] jxeeno opened #40 "Herald keeps trying to connect to my Mac"
As @yaakov-h kindly points out on https://github.com/AU-COVIDSafe/mobile-ios/issues/38#issuecomment-749479971, this is an Android issue and not iOS issue.  So moving it over here.

I've got an issue where the COVIDSafe Herald app on Android keeps trying to connect to my computer and it's resulting in a lot of devices being listed.

![image](https://user-images.githubusercontent.com/23213119/102884

[2020-12-22 23:54] covidsafe-team commented on #40
@jxeeno - thanks for raising this issue with us. We've added it to our backlog to investigate. We'll provide an update on progress.

[2020-12-22 23:59] covidsafe-team commented on #33
Thanks @alwentiu, @jimmo, @kodekoala247 and @HendX. We have prioritised this issue and #40 in our backlog. We'll provide an update on progress.

[2020-12-26 07:02] norenTM commented on #32
I've noticed with the Herald update, that battery drain has become quite significant. Previously, battery drain wasn't too much of an issue. This current version of COVIDSafe has too many issues, it seems like an alpha version really:
- Duplicate BLE GATT services
- Battery drain
- Reduced connection efficiency
- Incorrectly/poorly implemented protocols and libraries (as seen very obviously with H

[2021-01-01 23:39] jimmo opened #41 "Notification icon always shows a tick"
I've raised this a few times before in other issues, but just noticed again that COVIDSafe was inactive on my phone, despite the "Australia with a tick" notification icon being shown.

If you actually pull down the notifications and look at the notification text, it tells you what's wrong, but it should change the icon so the user knows they need to check.

[2021-01-01 23:44] jimmo opened #42 "COVIDSafe doesn't alert for new versions"
I have v1.13 installed, with auto-updates disabled.

COVIDSafe seems totally unaware that there have been two releases since then.

I have never seen a notification popup from the push-notification functionality that was added before 1.13, and the home screen of the app doesn't show anything.

[2021-01-11 16:01] doug-leith opened #43 "Tech report on app privacy"
See https://www.scss.tcd.ie/Doug.Leith/pubs/contact_tracing_nongaen_app_traffic_techreport.pdf

[2021-02-02 00:43] covidsafe-team commented on #19
Thanks for raising this. We have provided advice on Oppo battery use via help topics at https://www.covidsafe.gov.au/help-topics.html

[2021-02-02 00:43] #19 closed

[2021-02-02 00:51] covidsafe-team commented on #37
Hi @vteague and @jimmo - thanks for raising this, The latest release includes a change that addresses this issue.

[2021-02-02 00:51] #37 closed

[2021-02-02 00:58] covidsafe-team commented on #42
Hi @jimmo - thanks for raising this. We will investigate.

[2021-02-02 00:58] covidsafe-team commented on #41
Hi @jimmo - thanks for raising this. We will investigate.

[2021-02-02 01:00] covidsafe-team commented on #43
Thanks for bringing this to our attention.

[2021-02-02 01:00] #43 closed

[2021-02-02 21:55] covidsafe-team commented on #18
Hi @jimmo
This is addressed in the Herald documentation here: https://vmware.github.io/herald/bluetooth/hardware under "Lack of advertising support"

[2021-02-02 21:55] #18 closed

[2021-02-02 23:30] jimmo commented on #33
This is still an issue in the play store build of COVIDSafe 2.1 released yesterday. I still see both the duplicate advertisements and the duplicate service registration.

[2021-02-13 05:04] kurahaupo commented on #19
Referring to the help page as part of the resolution of this issue does not instill confidence, especially as the text is unchanged from when the issue was raised. (People reporting this issue had already used the steps on that page and found them badly wanting.)

Can you please advise what measures were taken to stop Oppo devices from spontaneously changing the power-saving/background-running set

[2021-03-02 01:38] alwentiu opened #47 "COVIDSafe 2.3 crashes when accessing Help Topics"
Accessing the Help Topics menu through Settings crashes COVIDSafe v2.3. Accessing it through Home menu works fine.

[2021-03-02 01:44] jimmo commented on #47
I see this too.

Although the version number in the app says 2.3, it appears to be the same features as #46 (i.e. restrictions).

[2021-03-05 05:08] covidsafe-team commented on #47
Hi @alwentiu,
Thanks for raising this - and @jimmo for verifying. We will have a fix for this in the next release.

[2021-03-22 03:06] covidsafe-team commented on #47
Hi @alwentiu,
This bug was fixed in the release last week. Thanks for raising it.

[2021-03-22 03:06] #47 closed

[2021-04-20 06:30] covidsafe-team commented on #42
Hi @jimmo - thanks for raising this. We've made a change to our process, and the update alerts have been working more reliably for the last two releases.

[2021-04-20 06:30] #42 closed

[2021-05-17 15:43] agigleux opened #51 "Can't compile because of missing dependency: com.michaelfotiadis:android-country-flags"
[code]

Related to https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/?